.tools {
  gap: 16px;
  display: flex;
  align-items: center;

  .trigger {
    border: none;
    padding: 8px 0;
    height: calc(100% + 16px);
    border-radius: 0;
    transition: all 0.2s ease-in;

    &:hover,
    &[aria-expanded='true'] {
      color: var(--brown);
      background: var(--white-300);
    }
  }

  .menu {
    border-radius: 0;
    border: none;
    top: 100%;
    min-width: 160px;
    width: 100%;
  }

  .dropdown {
    .headerr {
      gap: 8px;
      display: flex;
      align-items: center;
      padding: 0 12px;
      border-radius: 0;

      img {
        border-radius: 50%;
      }

      .text {
        @media (max-width: 1380px) {
          display: none;
        }
      }
    }
  }
}

.user {
  gap: 12px;
  display: flex;
  align-items: center;
  padding: 8px 0;
  cursor: pointer;

  svg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--brown);
  }

  p {
    @media (max-width: 1380px) {
      display: none;
    }
  }
}
