.mainContent {
  background-size: auto;
  width: 100%;
  min-height: 100vh;
}

.separator {
  width: 100%;
  height: 0;
  margin: 0;
  background-color: #fbfbfa;
  border: 1px solid #fbfbfb;
}

.darkTheme {
  background: unset;

  .separator {
    background-color: #454a55;
    border: 1px solid #454a55;
  }
}
