.quoteSection {
  padding: 81px 0;
  max-width: 964px !important;
  opacity: 0;

  .quote {
    position: relative;
    text-align: center;
    font-size: 23px;
    font-family: 'Source-Serif-Regular', sans-serif;
    margin: unset;
    padding: 23px 0;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      background-image: url('/keepsimple_/assets/landingPage/red-line.png');
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-size: contain;
    }

    .highlight {
      overflow: hidden;
      width: 397px;
      height: auto;
      position: relative;
      display: inline-block;
      justify-content: center;
      align-items: center;
      margin: 0;
      background: #eeecea;
      opacity: 0;
      line-height: 1;
      top: 3px;
      left: 4px;
    }

    .inViewHighlight {
      opacity: 1;
    }

    .square {
      width: 0;
      position: absolute;
      opacity: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      margin: auto;
      height: 35px;
    }

    .inViewSquare {
      opacity: 1;
      animation: invert 1s 0.5s forwards;
    }

    .quoteText {
      mix-blend-mode: difference;
      position: relative;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      margin: auto;
      font-size: 23px;
      text-align: center;
      color: #fff;
      font-family: 'Source-Serif-Regular', sans-serif;
    }

    .lastNote {
      display: block;
      font-size: 23px;
      font-family: 'Source-Serif-Regular', sans-serif;
      margin: unset;
    }
  }
}

.visible {
  animation-delay: 0.3s;
  animation: fadeInUp 0.8s ease forwards;
}

.darkTheme {
  .quote {
    .inViewSquare {
      opacity: 1;
      animation: invertDarkTheme 1s 0.5s forwards;
    }

    .highlight {
      background: #1b1e26;
    }
  }
}

@media (max-width: 960px) {
  .quoteSection {
    padding: 60px 0;

    .quote {
      padding: 23px 15px;

      p {
        span {
          font-size: 20px;
        }
      }
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes invert {
  from {
    width: 0;
    transform: translateX(-500px);
    background-color: transparent;
  }
  to {
    width: 397px;
    transform: translateX(0);
    background-color: #000;
    opacity: 1;
  }
}

@keyframes invertDarkTheme {
  from {
    width: 0;
    transform: translateX(-500px);
    background-color: transparent;
  }
  to {
    width: 397px;
    transform: translateX(0);
    background-color: #ffffffd9;
    opacity: 1;
  }
}
