@import '@styles/fonts.scss';

.list {
  padding: 20px 40px;

  p {
    margin: 0;
    line-height: 1.5;
    @include text-body;
  }

  div > ul,
  ul {
    padding: 0 0 0 11px;
    margin: 0;

    li {
      padding-bottom: 20px;
      padding-left: 12px;
      line-height: 1.5;
      @include text-body;

      &::marker {
        content: url('/keepsimple_/assets/longevity/habits/marker.svg');
      }
    }
  }
}

.list:first-child {
  padding: 20px 40px 0 40px;
}
