.wrapper {
  position: fixed;
}

.modal {
  overflow: hidden;
  width: 100% !important;
  max-width: 600px !important;
}

.content {
  display: flex;
  min-height: 60vh;
  padding: 32px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .text {
    margin: 16px 0 32px;
  }

  .button {
    margin-bottom: 16px;
    padding: 8px 16px;
    max-width: 400px;
    width: 100%;

    &:last-child {
      margin-bottom: 30px;
    }

    svg {
      width: 18px;
      height: 18px;
    }
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: fit-content;
  }
}
