.section {
  background-image: url('/keepsimple_/assets/longevity/workout/brain-activity-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 28px 40px;
  max-width: 868px;
  margin-bottom: 40px;
  // TODO: Move to global styles
  .hr {
    border: none;
    background-image: url('/keepsimple_/assets/longevity/environment/line.png');
    background-size: cover;
    height: 2px;
    width: clamp(319px, 50vw, 788px);
    margin-top: 24px;
    margin-bottom: 40px;
  }

  // TODO: Duplicated
  .subHeading {
    margin-bottom: 43px;

    h4 {
      font-weight: 400 !important;
      font-family: 'Source-Serif-Regular', sans-serif !important;
      text-transform: uppercase;
    }
  }

  .buttonContainer {
    display: flex;
    gap: 70px;
  }

  .ageButton {
    cursor: pointer;
    border: none;
    background-color: unset;
    color: #9c9c9c;
    font-size: 32px;
    font-family: Aboreto-Regular, sans-serif;
    font-weight: 700;
  }

  .selectedButton {
    color: #ce2128;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
      content: '';
      display: block;
      width: 36px;
      height: 4px;
      background-image: url('/keepsimple_/assets/longevity/line.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .result {
    width: clamp(319px, 67vw, 868px);
    display: flex;
    gap: 20px;
    align-items: stretch;
    margin-top: 43px;

    .minimal,
    .maximal {
      padding: 1px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1 1 0;
      margin: 0;
      min-width: 0;
      cursor: unset;
      max-width: unset;
      min-height: unset;

      .content {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 1px 20px;
      }
    }

    .minimal {
      background-color: #ce21281a;

      svg {
        path {
          fill: #ce2128;
        }
      }

      .passive {
        color: #ce2128;
        font-size: 24px;
        text-transform: uppercase;
      }

      .subContent {
        display: flex;
        flex-direction: column;
      }
    }

    .maximal {
      background-color: #64b7661a;

      svg {
        path {
          fill: #64b766;
        }
      }

      .subContent {
        display: flex;
        flex-direction: column;
      }

      .active {
        color: #64b766;
        font-size: 28px;
      }

      .valueWrapper::after {
        filter: brightness(0) saturate(100%) invert(63%) sepia(20%)
          saturate(662%) hue-rotate(83deg) brightness(95%) contrast(95%);
      }
    }

    .valueWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      &::after {
        content: '';
        display: block;
        width: stretch;
        height: 4px;
        background-image: url('/keepsimple_/assets/longevity/line.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

.sectionRu {
  .heading {
    h3 {
      font-family: 'Source-Serif-Regular', sans-serif !important;
    }
  }
}

@media (max-width: 965px) {
  .section {
    margin: 0 16px 20px 16px;
    padding: 12px;
    max-width: unset;

    .heading {
      h3 {
        font-size: 16px !important;
        text-align: center !important;
      }
    }

    .subHeading {
      h4 {
        font-size: 16px !important;
      }
    }

    .buttonContainer {
      gap: 5px;

      .ageButton {
        font-size: 20px;

        svg {
          height: 20px;
          width: calc(20px * 20 / 32);
        }
      }
    }

    .result {
      flex-direction: column;
      width: auto;

      .minimal,
      .maximal {
        .passive,
        .active {
          font-size: 16px;

          svg {
            height: 16px;
            width: calc(16px * 20 / 32);
          }
        }
      }
    }
  }
}
