.flipCard {
  background-image: url('/keepsimple_/assets/longevity/study/flipped-card-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 948px;
  padding: 28px 103px;
  height: 780px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .headline {
    padding-bottom: 16px;

    h4 {
      color: #ce2128 !important;
      text-transform: uppercase;
      font-family: Aboreto-Regular, sans-serif !important;
      font-size: 24px !important;
    }
  }

  .subText {
    font-size: 16px;
    text-transform: uppercase;
    color: #000000d9;
    line-height: 1;
  }

  .chartWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .chartTitle {
      padding: 40px 0 32px 0;
      line-height: 1;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .diamond {
    width: 14px;
    height: 10px;
    background-color: #df382e;
    transform: rotate(45deg);
    display: inline-flex;
  }

  .painTextWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .painText {
    margin: 0 30px;

    p {
      margin: 0;
    }
  }

  .divider {
    padding: 35px 0 28px 0;
  }
}

.hacksFlipCard {
  background-image: url('/keepsimple_/assets/longevity/study/hacks-bg.png');
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .quote {
    p {
      line-height: 1.5;
      font-size: 20px;
      text-transform: uppercase;
      margin: 0;
      font-family: Aboreto-Regular, sans-serif;
    }
  }
  .separator {
    display: block;
    margin: 8px 0;
  }
  .quoteAuthor {
    display: unset;
    h4 {
      line-height: 1.5;
      font-size: 20px !important;
      text-transform: uppercase;
      margin: 0;
      font-family: Aboreto-Regular, sans-serif !important;
      color: #fff !important;
    }
  }
}
