.flipCard {
  background-image: url('/keepsimple_/assets/longevity/study/study-flip-card-bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 948px;
  height: 531px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 10px;

  .pageSwitcherFlip {
    position: absolute;
    bottom: 120px;
    right: 5px;
    left: 93%;
    z-index: 55;
    cursor: pointer;
  }

  .headline {
    padding-bottom: 12px;
    justify-content: center !important;
    padding-top: 20px;

    h4 {
      color: #ce2128 !important;
      text-transform: uppercase;
      font-family: Aboreto-Regular, sans-serif !important;
      font-size: 20px !important;
    }
  }

  .subText {
    font-size: 16px;
    text-transform: uppercase;
    color: #000000d9;
    line-height: 1;
  }

  .chartWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .chartTitle {
      padding: 16px 0;
      line-height: 1;
      font-size: 16px;
      font-weight: 600;
    }

    .chart {
      max-width: 100%;
      height: auto;
    }
  }

  .diamond {
    width: 13px;
    height: 10px;
    background-color: #df382e;
    transform: rotate(45deg);
    display: inline-flex;
  }

  .painTextWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .painText {
    margin: 0 30px;

    p {
      margin: 0;
    }
  }

  .divider {
  }
}

.hacksFlipCard {
  background-image: url('/keepsimple_/assets/longevity/study/hacks-bg.png');
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .quote {
    p {
      line-height: 1.5;
      font-size: 20px;
      text-transform: uppercase;
      margin: 0;
      font-family: Aboreto-Regular, sans-serif;
    }
  }

  .separator {
    display: block;
    margin: 8px 0;
  }

  .quoteAuthor {
    display: unset;

    h4 {
      line-height: 1.5;
      font-size: 20px !important;
      text-transform: uppercase;
      margin: 0;
      font-family: Aboreto-Regular, sans-serif !important;
      color: #fff !important;
    }
  }
}

@media (max-width: 965px) {
  .flipCard {
    background-image: unset;
    height: auto;
    padding: 0;

    .diamond {
      width: 19px;
    }

    .headline {
      justify-content: center;

      h4 {
        font-size: 18px !important;
      }
    }

    .subText {
      font-size: 16px;
    }

    .chartWrapper {
      .chartTitle {
        font-size: 14px;
      }

      .chart {
        max-width: 100%;
        height: auto;
      }
    }

    .divider {
      width: -webkit-fill-available;
    }

    .content {
      width: -webkit-fill-available;
    }
  }
}
