.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  img {
    margin-bottom: 40px;
    margin-top: 32px;
  }
}

@media (max-width: 965px) {
  .imageWrapper {
    flex-direction: column;
    margin: 20px 12px;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
