.hero {
  background-image: url('/keepsimple_/assets/longevity/hero-bg.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 40px 0;
}

@media (max-width: 1160px) {
  .hero {
    text-align: center;

    h1 {
      width: min-content;
    }
  }
}

@media (max-width: 1140px) {
  .hero {
    margin-top: 55px;

    h1 {
      width: 290px;
      font-size: 24px !important;
    }

    h2 {
      font-size: 16px !important;
    }
  }
}
