.info {
  * {
    font-family: 'Tomorrow-Regular', sans-serif !important;
  }

  .container {
    height: 80vh;
    z-index: 2;
    overflow-y: hidden;
    width: 400px;
    color: #ede3ff;
    position: relative;
    box-sizing: border-box;
    padding: 28px;
    background-image: url('/keepsimple_/assets/company-management/infoSectionBorders/background.svg');
    background-repeat: round;
    background-size: auto;

    .wrapper {
      overflow-y: auto;
      height: 100%;
      max-height: 70vh;
      margin-bottom: 25px;
      padding-right: 10px;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.3) 0%,
          rgba(153, 153, 153, 0.3) 100%
        );
        border-radius: 8px;
      }
    }

    .head {
      display: flex;

      .mobileHeader {
        display: none;
      }

      .imgWrapper {
        width: 64px;
        height: 67px;
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 20px;

        &:before {
          content: '';
          position: absolute;
          background: url('/keepsimple_/assets/company-management/tooltipBg.png');
          width: 80px;
          height: 80px;
          background-repeat: round;
          border-radius: 8px;
        }

        > img {
          padding-left: 18px;
          object-fit: contain;
        }
      }

      .title {
        font-size: 16px;
        margin-left: 5px;
        font-family: 'Tomorrow-Medium', sans-serif;
        animation-name: glow;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }

      .duration,
      .cost {
        display: block;
        color: #36ad58;
        font-size: 16px;
        line-height: 20.8px;
        margin-left: 5px;

        .arrow {
          display: inline-block;
          width: 0px;
          height: 0px;
          border-style: solid;
          border-color: transparent;
          border-left-width: 10px;
          border-right-width: 10px;
          position: relative;
          margin: 0 2px;
          border-bottom-width: 7px;
          border-bottom-color: #29c30f;
          color: #29c30f;
          filter: drop-shadow(0px 1px 8.3px #5670e1);

          &.up {
            top: -2px;
          }

          &.down {
            transform: rotate(180deg);
            top: 2px;
          }
        }
      }

      .duration {
        padding-bottom: 8px;
      }
    }

    .content {
      font-size: 16px;
      line-height: 22px;
      margin-top: 16px;

      img {
        object-fit: cover;
      }

      .zoomedImg {
        width: unset;
      }

      & a {
        color: #f7dda0 !important;
        text-decoration: underline !important;
        filter: drop-shadow(0px 0px 6px #ff9110ab);
      }

      & p,
      div,
      li,
      span {
        font-size: 16px;
        background: linear-gradient(
          180deg,
          #ede3ff 90.05%,
          #ede3ff 90.05%,
          rgba(237, 227, 255, 0) 100%
        );
        -webkit-background-clip: text;
        color: unset !important;
        letter-spacing: 0.03em;
      }

      .psNote {
        font-size: 10px;
        line-height: 13px;
        margin-top: 24px;
        opacity: 0.65;
        text-shadow: 0 1px 8.3px #5670e1;
      }
    }
  }
}

.ruVersion {
  * {
    font-family: 'Jost-Regular', sans-serif !important;
  }
}

.blue {
  .container {
    .head {
      .title {
        color: #339cff;
      }
    }
  }
}

.orange {
  .container {
    .head {
      .title {
        color: #ff9820;
      }
    }
  }
}

.purple {
  .container {
    .head {
      .title {
        color: #c240cd;
      }
    }
  }
}

// modal
.modal {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #060d28;
  padding: 16px 8px;
}

.closeButton {
  text-align: right;
  z-index: 1;
  position: relative;
}

@media (min-width: 2200px) {
  .info {
    .container {
      .wrapper {
        margin-top: 15px;
        max-height: 75vh;

        &::-webkit-scrollbar-thumb {
          cursor: default;
        }
      }
    }
  }
}

@media (max-width: 1140px) {
  .info {
    &.main {
      margin: 24px 8px;
      height: auto;
      display: flex;
      justify-content: center;

      .container {
        max-width: 410px;
        width: 100%;
        z-index: unset;
        min-height: 68vh;
        height: 100%;
        background-image: url('/keepsimple_/assets/company-management/infoSectionBorders/background-small.svg');

        .wrapper {
          max-height: unset;
          height: 100%;
        }

        .head {
          justify-content: center;
          align-items: baseline;
          display: flex;
          flex-direction: column;

          .mobileHeader {
            display: flex;
            height: 50px;
            width: 100%;
            justify-content: center;

            .imgWrapper {
              display: block;
              margin-right: unset;
              width: auto;

              &::before {
                width: 37px;
                height: 37px;
              }

              > img {
                width: 20px;
                height: 20px;
                padding-left: 9px;
                padding-top: 8px;
              }
            }

            .title {
              margin-left: 8px;
              font-size: 14px;
              display: block;
            }
          }

          .duration {
            padding-bottom: unset;
          }

          .duration,
          .cost {
            font-size: 14px;
          }
        }

        .title {
          display: none;
        }

        .imgWrapper {
          display: none;
        }

        .stats {
          margin: 20px 0 0;
          font-size: 14px;

          & div + div {
            margin-top: 4px;
          }
        }
      }
    }

    &.modal {
      height: calc(100vh - 32px);

      .head {
        .duration,
        .cost {
          font-size: 14px;
        }
      }

      .closeButton {
        position: fixed;
        right: 41px;
        top: 59px;
      }

      .title {
        font-size: 16px;
        animation-name: glow-mobile !important;
      }

      .container {
        height: calc(100vh - 32px);
        max-height: none;
        width: calc(100vw - 16px);
        padding: 38px;

        .wrapper {
          margin-top: 35px;
          max-height: 80vh;
        }

        .stats {
          margin: 20px 0 0;
          font-size: 14px;

          & div + div {
            margin-top: 4px;
          }
        }

        .content {
          > p,
          span,
          a,
          ul,
          li,
          div {
            font-size: 14px !important;
          }
        }
      }
    }

    .container {
      .content {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@keyframes glow {
  from {
    text-shadow:
      0px 0px 10px #0e391f,
      0px 0px 15px #0c590beb;
  }

  to {
    text-shadow:
      0px 0px 10px #23893e,
      0px 0px 18px #0c590beb;
  }
}
