.button {
  gap: 8px;
  height: 44px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-control);
  transition: all 0.3s ease-in;
  @extend %text-base-semibold;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &.default {
    padding: 2px 14px;
  }

  &.wide {
    width: 100%;
    text-align: center;
    padding: 2px 18px;
  }

  &.primary {
    color: var(--white);
    background: var(--brown);

    &:hover:not(:disabled) {
      background: var(--brown-100);
    }
  }

  &.secondary {
    color: var(--brown);
    background: var(--white);
    border: 1px solid var(--beige);

    &:hover:not(:disabled) {
      background: var(--white-100);
      border: 1px solid var(--beige);
      color: var(--brown);
    }
  }

  &.warning {
    background: var(--red-500);
    color: var(--white);

    &:hover:not(:disabled) {
      background: var(--red-700);
    }
  }

  &.outlined {
    background: var(--beige);
    color: var(--brown);
  }

  &.text {
    background: transparent;
    color: var(--white);

    &:hover:not(:disabled) {
      background: var(--white-100);
    }
  }
}
