%title-primary {
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
}

%title-secondary-bold {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

%subtitle-secondary-semi {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

%subtitle-secondary-bold {
  font-size: 20px;
  font-weight: 700;
  line-height: 30.5px;
}

%subtitle-secondary-alt {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

%text-base-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 30.5px;
}

%text-base-semibold {
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
}

%text-base {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

%text-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

%text-quaternary {
  font-size: 14px;
  font-weight: 400;
  line-height: 30.5px;
}

%text-small {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

%text-tiny {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}
