.wrapper {
  color: var(--gray-darker) !important;
  background: var(--white) !important;
  box-shadow: var(--tooltip-shadow);
  max-width: 300px;
  text-align: center;
  padding: 12px 14px !important;
  font-size: 16px !important;
  border-radius: 8px !important;
  @extend %text-base;
}

.story {
  color: var(--green-100);
}
